<%- include('header') %>
    <%- include('navbar') %>


        <div class="about-page">
            <h2 class=" about-heading">About Us</h2>
            <hr class="horizontal">

            <!-- About section with image + text -->
            <section class="about-section">
                <div class="about-image">
                    <img src="../public/images/about.avif" alt="About Us Image" />
                </div>
                <div class="about-text">
                    <p>
                    
                            Our thrift store is dedicated to offering unique, sustainable, and affordable items that reflect the stories of their previous owners. We believe in the power of reusing and recycling, offering a wide variety of fashion, home décor, and accessories that make a statement. Each piece we sell has a history, and we're committed to helping our customers find items that are both meaningful and eco-friendly. We strive to make secondhand shopping an exciting, responsible choice for everyone.
                     
                        
                    </p>
                </div>
            </section>

            <div class="mission-container">
                <hr class="horizontal" />
                <section class="mission-section">
                  <div class="mission-heading">
                    <h3>Our Mission</h3>
                  </div>
                  <div class="vertical-divider"></div>
                  <div class="mission-text">
                    <p>At our core, our mission is to provide an accessible and environmentally conscious shopping experience. By offering gently used items, we not only promote sustainability but also help reduce waste. Our store is a place where you can find quality, one-of-a-kind pieces that fit your budget while supporting a greener planet. Whether you’re looking for vintage treasures or everyday essentials, our goal is to make secondhand shopping both fun and impactful for our community.
                    </p>
                    <a href="/contact">
                        <button type="button" class="small-btn update-btn">Contact us</button>
                      </a>
                  </div>
                </section>
                <hr class="horizontal" />
              </div>

              <div class="purpose-container">
    
                    <div class="purpose-heading">
                        <h3>What We Do?</h3>
                        <p>Every Item Has a Story</p>
                      </div>

             
                <div class="purpose-text">
                    <p>
                        At our thrift store, we breathe new life into pre-loved items, offering unique fashion, home goods, and accessories at affordable prices. By curating quality secondhand finds, we promote sustainable shopping and help reduce waste. Whether you're hunting for vintage treasures or everyday essentials, our collection is constantly evolving to bring you one-of-a-kind pieces that tell a story—all while supporting conscious consumption.</p>
                </div>
              </div>
              
        </div>
        <%- include('footer') %>
        <%- include('footer-links') %>