<nav class="navbar">
    <div class="nav-left">Shoplex</div>
    <ul class="nav-center">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/login">Login</a></li>
      
    </ul>
    <div class="nav-right">
        <input type="text" placeholder="Search">
        <a href="#" title="Cart"><i class="bi bi-cart"></i></a>
    </div>
  </nav>
