<nav class="navbar">
  <div class="nav-left">Shoplex</div>

  <ul class="nav-center">
    <li><a href="/user/user-dashboard">Dashboard</a></li>
    <li><a href="/user/user-order-history">Order History</a></li>
    <li><a href="/user/shop">Shop</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

  <div class="nav-right">
    <a href="#" title="Cart"><i class="bi bi-cart"></i></a>

    <!-- Profile image -->
    <a href="/user/user-profile" title="My Profile">
       <i class="bi bi-person-circle nav-profile-icon"></i>
    </a>

    <div class="dropdown">
      <a href="#"><i class="bi bi-gear-fill"></i></a>
      <ul class="dropdown-content">
        <li><a href="/user/change-password">Change Password</a></li>
        <li><a href="/user/edit-profile">Manage Account</a></li>
      </ul>
    </div>
  </div>
</nav>
